<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chl.campusnews">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.ProtocolActivity" />
        <activity android:name=".Activity.RetrievePasswordOne" />
        <activity android:name=".Activity.SettingActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.chl.campusnews.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.SingleInfoActivity" />
        <activity android:name=".Activity.AskAndAnswerActivity" />
        <activity android:name=".Activity.SingleAnswerActivity" />
        <activity android:name=".Activity.ReleaseActivity" />
        <activity android:name=".Activity.AskActivity" />
        <activity android:name=".Activity.SearchActivity"></activity>
    </application>

</manifest>